.container {
  width: 100%;
  min-height: 100vh;
  display: grid;
  place-items: center;
  background-color: hsl(0, 0%, 8%);
}
.main {
  padding: 40px 0;
  width: 320px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  background-color: hsl(0, 0%, 12%);
}
.main .avatar {
  height: 70px;
  width: 70px;
  border-radius: 50%;
}
.main .out-desc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main .out-desc .user-name {
  color: white;
}
.main .out-desc .user-message {
  color: hsl(75, 94%, 57%);
  font-size: 14px;
  font-weight: 700;
}
.main .user-desc {
  color: white;
  font-size: 14px;
  font-weight: 400;
}
.main .btn-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}
.main .btn-list button {
  width: 80%;
  height: 40px;
  border-radius: 6px;
  color: white;
  font-weight: 700;
  border: none;
  background-color: hsl(0, 0%, 20%);
}
.main .btn-list button:hover {
  cursor: pointer;
  background-color: hsl(75, 94%, 57%);
  color: hsl(0, 0%, 8%);
}
